<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

    <Package  Name="WTI_Installer1" Manufacturer="TODO Manufacturer"  Version="1.0.0.0" UpgradeCode="e8ed9952-c1e5-4f82-b4b4-5fa2b6825bb3">
      <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />


      <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1' />
      <Property Id='DiskPrompt' Value="Acme's Foobar 1.0 Installation [1]" />
      <Directory Id='TARGETDIR' Name='SourceDir'>
        <Directory Id='ProgramFiles64Folder'>
          <Directory Id='VladislavGlazkov' Name='VG'>
            <Directory Id='PACK1' Name='PACK1'>
              <Component Id='Maincomponent' Guid='19019212-83F1-4F22-985B-FDB3C8ABD471'>
                <File Id='HJSON' Name='history.json' Source='ops/history.json' KeyPath='yes' DiskId='1'></File>
                <Shortcut Id="UninstallProduct"
            Name="Uninstall My Application"
            Target="[SystemFolder]msiexec.exe"
            Arguments="/x [ProductCode]"
            Description="Uninstalls My Application" />
                

              </Component>

              <Component Id="CMP2" Guid="163b41a3-3619-403a-b2c9-45d4857a3948">

                <File Id='UserOpsExe' Name='UserOps.exe' Source='UserOps.exe' KeyPath='yes' DiskId='1'></File>
                
              </Component>

              <Component Id="WinCapExeCmp" Guid="56dbe210-129f-45e7-9077-2d511a85dd65">

                <File Id='WinCapExe' Name='WinCap.exe' Source='WinCap.exe' KeyPath='yes' DiskId='1'></File>

              </Component>

              

              <Directory Id='ServiceDir' Name='ServiceFiles'>
                
              </Directory>
             

              
            </Directory>

          </Directory>
        </Directory>

        <Directory Id='System64Folder'>
          <Component Id="WTICONNECTCPPDLLCmp" Guid="83e6acc6-47e3-4bdc-b645-216773124dcd">

            <File Id='WTICONNECTCPPDLL' Name='WTIConnect-CPP.dll' Source='WTIConnect-CPP.dll' KeyPath='yes' DiskId='1'></File>

          </Component>
          <Component Id="BringBitmapDllCmp" Guid="c6af2892-b2c4-4480-949e-1901706a58ed">

            <File Id='BringBitmapDll' Name='BringBitmap.dll' Source='BringBitmap.dll' KeyPath='yes' DiskId='1'></File>

          </Component>
        </Directory>
      </Directory>


      
      
      <Feature Id="Main" Level="1">
        <ComponentRef Id="Maincomponent"/>
        <ComponentGroupRef Id="Reg"/>
        <ComponentRef Id="CMP2"/>
        <ComponentGroupRef Id="ServiceComponent"/>
        <ComponentRef Id="BringBitmapDllCmp"></ComponentRef>
        <ComponentRef Id="WinCapExeCmp"/>
        <ComponentRef Id="WTICONNECTCPPDLLCmp"/>

      </Feature>

      <CustomActionRef Id="CustomAction"/>
      <InstallExecuteSequence>
         
        <Custom Condition='NOT Installed' Action="CustomAction" Sequence="4010"/>
        <Custom Condition='Installed and REMOVE="ALL"' Action='CustomActionRemove' Sequence='2590'/>
      </InstallExecuteSequence>

      <ui:WixUI Id="WixUI_Ops" />


    
    </Package>
  
  <Fragment>
    <ComponentGroup Id="ServiceComponent">
      <Component Directory="ServiceDir" Guid="d454b7e6-5105-42de-a989-5c0109551d91">
        <File Id='WindowsService1Exe' Name='WindowsService1.exe' Source='ServiceFolder/WindowsService1.exe' KeyPath='yes' DiskId='1'></File>
        <ServiceInstall  ErrorControl='normal' Start='auto' Account='LocalSystem' Name='WTIService' DisplayName='WTIService' Id='Service' Type='ownProcess' Vital='yes' Description='WTI daemon'></ServiceInstall>
        <ServiceControl Id="ServiceControl" Start="install" Stop="both" Remove="uninstall"
        Name="Service 1" Wait="yes" />
      
      </Component>
      <Component Directory="ServiceDir" Guid="d43d2be4-9502-4b01-9012-ab50f77d85db">
        <File Id='AxMSTSCLibDll' Name='AxMSTSCLib.dll' Source='ServiceFolder/AxMSTSCLib.dll' KeyPath='yes' DiskId='1'></File>

      </Component>
      <Component Directory="ServiceDir" Guid="fa9ffb91-52b1-4c1d-bba6-bf3528f4d953">
        <File Id='MSTSCLibDll' Name='MSTSCLib.dll' Source='ServiceFolder/MSTSCLib.dll' KeyPath='yes' DiskId='1'></File>

      </Component>

      
    </ComponentGroup>
    
    
    <ComponentGroup Id="Reg">
      <Component Id="RegDomain" Directory="PACK1" Guid="f45ed9a4-8f9b-457c-99c3-ede9ec5395be">
        <RegistryKey Root="HKLM" Key="Software\WTI">
          <RegistryValue Name="domain" Type="string" KeyPath="yes" Value="[DOMAINVALUE]">
          </RegistryValue>
        </RegistryKey>
      </Component>

      <Component Directory="PACK1" Id="RegUsername" Guid="09978105-acfe-4e82-86ce-87953bcdb9af">
        <RegistryKey Root="HKLM" Key="Software\WTI">
          <RegistryValue Name="username" Type="string" KeyPath="yes" Value="[USERVALUE]">
          </RegistryValue>
        </RegistryKey>
      </Component>

      <Component Directory="PACK1" Id="RegX" Guid="f4052489-052c-458d-9576-77af8cefd10d">
        <RegistryKey Root="HKLM" Key="Software\WTI">
          <RegistryValue Name="X" Type="string" KeyPath="yes" Value="[XVALUE]">
          </RegistryValue>
        </RegistryKey>
      </Component>

      <Component Directory="PACK1" Id="RegY" Guid="0a738d84-a41b-4ee1-97b3-a1c0f69ac19e">
        <RegistryKey Root="HKLM" Key="Software\WTI">
          <RegistryValue Name="Y" Type="string" KeyPath="yes" Value="[YVALUE]">
          </RegistryValue>
        </RegistryKey>
      </Component>

      <Component Directory="PACK1" Id="RegFilesdir" Guid="099f0bb7-112e-406c-bd81-f02c8f00ee09">
        <RegistryKey Root="HKLM" Key="Software\WTI">
          <RegistryValue Name="filesdir" Type="string" KeyPath="yes" Value="[PACK1]">
          </RegistryValue>
        </RegistryKey>
      </Component>

      
      
    </ComponentGroup>
  </Fragment>
    <Fragment>
      <Property Secure="yes" Id="DOMAINVALUE" Value="winserver.localops"></Property>
      <Property Secure="yes" Id="USERVALUE" Value="Not Set"></Property>
      
     
      <!--- <Binary Id="Exec" SourceFile="Debug/net472/CustomAction1.CA.dll"></Binary>
      <Property Id="CustomAction" Value="domain=[DOMAINVALUE];username=[USERVALUE]" />  

      <CustomAction Execute="deferred" Impersonate="yes" DllEntry="CustomAction1" Id="CustomAction" BinaryRef="Exec"/>   -->


      <CustomAction Execute="deferred" Impersonate="yes"  Id="CustomAction" Return="check" Directory="PACK1" ExeCommand='"[PACK1]UserOps.exe" register "[DOMAINVALUE]" "[USERVALUE]"'/>
      <CustomAction Execute="deferred" Impersonate="yes"  Id="CustomActionRemove" Return="check" Directory="PACK1" ExeCommand='"[PACK1]UserOps.exe" unregister'/>
      
    </Fragment>
</Wix>
